<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/jpg" sizes="32x32" href="./Photo/Logo.jpg">
  <link rel="icon" type="image/jpg" sizes="16x16"
  href="./Photo/Logo.jpg">
  <link rel="apple-touch-icon" sizes="180x180"
  href="./Photo/Logo.jpg">
  <title>Admission Form</title>
</head>
<body>
 <form class="form" action="/admissionfromsubmit" method="post" accept-charset="utf-8">
   <input type="text" name="fathername" id="fatherinput" placeholder="Father
   Name" />
   <input type="text" name="studentname" id="studentinput" placeholder="Student
   Name" />
   <input type="number" name="passedclass" id="passedclass" placeholder="Passed
   Class" />
   <input type="number" name="promotedclass" id="promotedclass"
   placeholder="Promoted Class" />
   <input type="number" name="phonenumber" id="phonenumber"
   placeholder="Phone Number" />
   <button type="submit">Submit</button>
 </form>
</body>
</html>